@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

body {
    transition: background-color 1s ease;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40vw;
    height: 60vh;
    border-radius: .3rem;
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: background-color 1.5s ease;
}

.quote {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    text-align: center;
}

.large {
    font-size: 2rem;
}

.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1.2rem;
}

.author {
    text-align: right;
}

.btn {
    color: #fff;
    float: right;
    transition: background-color 1.5s ease;
}

.btn:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .card {
      width: 80vw;
      height: 35vh;
    }

    .quote {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}